<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<title>Home Page</title>
</head>

<body>
	<h1>Welcome to my Website</h1>
	<p>Here are three election types:</p>
	<a href="/Plurality">Plurality</a>
	<br>
				<a href="/Runoff">Runoff</a>
				<br>
				<a href="/Approval">Approval</a>
    </body>
</html>
<!-- Use different pages and use collections for candidates -->