<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <title>Plurality Page</title>
  </head>

  <body>
		<script>
			function testing() {
			var para = document.createElement("input");                 para.setAttribute("id", "candidateOne");
			para.setAttribute("type", "text");           
document.getElementById("P_Questions").appendChild(para); 

}
		</script>
    <h1>Plurality</h1>
		
    
  <p>The winner is: {{v}}</p>
	<div id="P_Questions">

    <form class="userinput_P" method="POST" id="Test_Test">
    <input type="text" name="candidateOne">
		<input type="text" name="candidateTwo">
		<br>
		<input type="text" name="voterOne">
		<input type="text" name="voterTwo">
		<input type="text" name="voterThree">
    <button type="submit">Submit</button>

</form>
	</div>

	
    <a href="/">Home</a>
    <br />
    <a href="/Runoff">Runoff</a>
    <br />

    <a href="/Approval">Approval</a>
    <p><a href="?">Reset</a></p>
		
  </body>
</html>