<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<title>Runoff Page</title>
</head>

<body>
	<h1>Runoff</h1>
	<p>The two-round system is a voting method used to elect a single candidate, where voters cast a single vote for their preferred candidate. The election proceeds to a second round only if in the first round no candidate has received a simple majority of votes cast, or at least some other prescribed percentage.</p>
	<a href="/">Home</a>
	<br>
	<a href="/Plurality">Plurality</a>
	<br>
				<a href="/Approval">Approval</a>
				<p><a href="?">Reset</a></p>
    </body>
</html>
	 